# SUMMATIONS AND PRODUCTS

### 1.

#### (i)

In [3]:
n = abs(int(input("Please enter a natural number:")))
Sum = 0
for i in range(n):
    if (i % 2 == 1):
        Sum = Sum + (i+3)
print("The sum is:", sum)

Please enter a natural number:-2
The sum is: 4

#### (ii)

In [4]:
n = abs(int(input("Please enter a natural number:")))
product = 1
for i in range(n):
    if (i % 2 == 0):
        product = product * (i+3)
print("The product is:", product)

Please enter a natural number:-4
The product is: 15

### 2.

In [12]:
day = int(input("Please enter a number in the range[0,6]:"))
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
dayy = days[day]
if (day in range(1,6)):
    print(dayy)
elif (day in {0,6}):
    print("Weekend")
else:
    print("You entered a wrong number")

Please enter a number in the range[0,6]:5
Friday

### 3.

In [14]:
month = int(input("Please enter a number in the range[0,11]:"))
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
m = months[month]
if (month in {0, 2, 4, 6, 7, 9, 11}):
    print("The month of", m, "has 31 days")
elif (month in {3,5,8,10}):
    print("The month of", m, "has 30 days")
elif (month == 1):
    print("The month of", m, "has 28 days")
else:
    print("You entered a wrong number")

Please enter a number in the range[0,11]:4
The month of May has 31 days

### 4.

In [15]:
#  For loop:
for i in range(3):
    print("Arlette Musanabera")

Arlette Musanabera
Arlette Musanabera
Arlette Musanabera

In [18]:
# While loop
i = 0
while i < 3:
    print("Arlette Musanabera")
    i +=1

Arlette Musanabera
Arlette Musanabera
Arlette Musanabera

### 5.

In [20]:
a0 = int(input("Enter the first initial value:"))
a1 = int(input("Enter the second initial value:"))
print(a0)
print(a1)
for i in range(13):
    an = a0 + a1
    a0 = a1
    a1 = an
    print(an)

Enter the first initial value:3
Enter the second initial value:4
3
4
7
11
18
29
47
76
123
199
322
521
843
1364
2207

### 6.

In [21]:
x0 = int(input("Enter the first initial value:"))
x1 = int(input("Enter the second initial value:"))
print(x0)
print(x1)
for i in range(28):
    xn = (1/2)*(x1 + 6*x0)
    print(xn)
    x0 = x1
    x1 = xn

Enter the first initial value:2
Enter the second initial value:3
2
3
7.5
12.75
28.875
52.6875
112.96875
214.546875
446.1796875
866.73046875
1771.904296875
3486.1435546875
7058.78466796875
13987.822998046875
28170.265502929688
56048.60174560547
112535.0973815918
224413.3539276123
449811.96910858154
898146.0463371277
1798508.9304943085
3593692.6042585373
7192373.093612194
14377264.359581709
28765751.460627437
57514668.809058845
115054588.78641173
230071300.82038242
460199416.76942635
920313610.8458605

### 7. Leap Year

#### a)

In [23]:
year = int(input("Enter a year:"))
if ((year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)):
    print("The year", year, "is a leap year")
else:
    print("The year", year, "is not a leap year")

Enter a year:2024
The year 2024 is a leap year

#### b)

In [24]:
year = int(input("Enter a year: "))

leap_year = (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)
print(f"{year} is a leap year." if leap_year else f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

### 8.

#### a)

In [27]:
# For loop
n = abs(int(input("Enter the range of calculation:")))
Sum = 0
for i in range(n+1):
        Sum = Sum + (i**2)
print(Sum)

Enter the range of calculation:3
14

In [28]:
# While loop
n = abs(int(input("Enter the range of calculation:")))
Sum = 0
i = 1
while i <= n:
    Sum = Sum + (i**2)
    i+=1
print(Sum)

Enter the range of calculation:3
14

#### b)

In [29]:
#For loop
M = abs(int(input("Enter a natural number:"))) 
Sum = 0
for i in range(M):
    Sum = Sum + (i**2)
    if Sum >= M:
        print(i)
        break

Enter a natural number:5
2

In [35]:
# While loop
M = abs(int(input("Enter a natural number:"))) 
Sum = 0
i = 0
while i <= M:
    Sum = Sum + (i**2)
    if Sum >= M:
        print(i)
        break
    i+=1

Enter a natural number:5
2

### 9.

#### a)

In [47]:
n = abs(int(input("Enter a natural number:")))
for i in range(1,n+1):
    if (n % i == 0):
        print(i)

Enter a natural number:20
1
2
4
5
10
20

#### b)

In [48]:
n = int(input("Enter a natural number:"))
factors = []
for i in range(2,n+1):
    if (n % i == 0) :
        factors.append(i)
primeFact = []
for n in factors:
    isPrime = True
    if n == 1:
        continue
    else:
        for j in range(2, n):
            if n%j == 0:
                isPrime = False
                break
        
        if isPrime:
            primeFact.append(n)
primeFact

Enter a natural number:20

[2, 5]

### 10.

In [46]:
n = int(input("Enter a number in the range [0,9]:"))
N = int(input("Enter the maximum number for calculation:"))
for i in range(1,N):
    print(i*n)

Enter a number in the range [0,9]:5
Enter the maximum number for calculation:6
5
10
15
20
25

### 11.

In [50]:
multiples = []
for i in range(40):
    if ((i%3 == 0) or (i%7 == 0) or (i%11 == 0)):
        multiples.append(i)
multiples

[0, 3, 6, 7, 9, 11, 12, 14, 15, 18, 21, 22, 24, 27, 28, 30, 33, 35, 36, 39]

### 12.

In [51]:
import math
x = float(input("Enter a float number: "))
print(math.floor(x))

Enter a float number: 6
6

### 13.

In [55]:
while True:
    x = float(input("Enter the x-coordinate: "))
    y = float(input("Enter the y-coordinate: "))
    
    if x == 0 and y == 0:
        print("Origin")
    elif x == 0:
        print("Lies on the y-axis")
    elif y == 0:
        print("Lies on the x-axis")
    elif x > 0 and y > 0:
        print("1st quadrant")
    elif x < 0 and y > 0:
        print("2nd quadrant")
    elif x < 0 and y < 0:
        print("3rd quadrant")
    elif x > 0 and y < 0:
        print("4th quadrant")
    
    cont = input("Do you want to continue? (yes/no): ").lower()
    if cont == "no":
        break

Enter the x-coordinate: 5
Enter the y-coordinate: 6
1st quadrant
Do you want to continue? (yes/no): yes
Enter the x-coordinate: 4
Enter the y-coordinate: 5
1st quadrant
Do you want to continue? (yes/no): no

### 14.

In [76]:
multi = []
cont="yes"
stop_loop1=True
stop_loop2=True
while stop_loop1:
    x = int(input("Enter an integer in the range[0,9]:"))
    if x in range(10):
        max = int(input("Enter an integer in the range[0,255]:"))
        while stop_loop2:
            if max in range(256):
                for i in range(max):
                    if (i%x == 0):
                        multi.append(i)
                print(multi)
                stop_loop2=False 
            else:
                max = int(input("Please enter a number in the specified range:"))
            
    else:
        x = int(input("Please enter a number in the specified range:"))
    
    cont = input("Do you want to continue? (yes/no): ").lower()
    if cont == "no":                    
        stop_loop1=False

Enter an integer in the range[0,9]:2
Enter an integer in the range[0,255]:23
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]
Do you want to continue? (yes/no): yess
Enter an integer in the range[0,9]:2
Enter an integer in the range[0,255]:233
Do you want to continue? (yes/no): no